@use "../../styles/partials/variables";
@use "../../styles/partials/mediaQueries";
@use "../../styles/partials/generalMixins";

.details {
  z-index: 10;
  @include generalMixins.pagePosition(
    absolute,
    50%,
    50%,
    translate(-50%, -50%)
  );
  @include generalMixins.displayFlex(column, none, center);
  background-color: variables.$color-cream;

  width: 40rem;
  min-height: 20rem;
  max-height: 33rem;
  padding: 2rem;
  border-radius: 10px;
  border: 4px solid variables.$color-charcoal;
  overflow-y: scroll;

  &__image {
    @include generalMixins.dimensions(16rem, auto);
    object-fit: cover;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 3px 3px 10px black;

    @include mediaQueries.mediaDetails(460px, 14rem, 18rem);
  }

  &__info {
    width: 38rem;
    text-align: left;

    &--headers {
      font-family: variables.$font-book-details;
      font-size: 1.2rem;
    }

    @include mediaQueries.mediaDetails(820px, 70vw, none);
  }

  @include mediaQueries.mediaDetails(820px, 70vw, none);
}

.noImage {
  @include generalMixins.displayFlex(none, center, center);
  margin: 1rem;

  &__icon {
    width: 4rem;
  }
}

.backdrop {
  @include generalMixins.absolutePositionWholeScreen();
  background-color: variables.$color-charcoal;
  opacity: 0.8;
  z-index: 10;
}
