@use "../../styles/partials/variables";

.details {
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: variables.$color-cream;

  width: 40rem;
  min-height: 20rem;
  max-height: 33rem;
  padding: 2rem;
  border-radius: 10px;
  border: 4px solid variables.$color-charcoal;
  overflow-y: scroll;

  &__image {
    object-fit: cover;
    margin-bottom: 1rem;
    width: 16rem;
    height: 21rem;
    border-radius: 5px;
    box-shadow: 3px 3px 10px black;

    @media (max-width: 460px) {
        width: 14rem;
        height: 18rem;
      }
  }

  &__info {
    width: 38rem;
    text-align: left;

    &--headers {
      font-family: "Roboto Condensed", sans-serif;
      font-size: 1.2rem;
    }

    @media (max-width: 820px) {
        width: 70vw;
      }
  }

  @media (max-width: 820px) {
    width: 70vw;
  }
}

.noImage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;

  &__icon {
    width: 4rem;
  }
}

.backdrop {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: variables.$color-charcoal;
  opacity: 0.8;
}
