@mixin absolutePositionWholeScreen() {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin displayFlex($direction, $justify, $align) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin dimensions($width, $height) {
  width: $width;
  height: $height;
}

@mixin pagePosition($position, $top, $left, $translate) {
  position: $position;
  top: $top;
  left: $left;
  transform: $translate;
}
