// Colour Palette
$color-tan: rgb(182, 141, 64);
$color-cream: rgb(244, 236, 210);
$color-charcoal: rgb(18, 38, 32);
$color-gold: rgb(214, 173, 96);

// Fonts
$font-main: "Mooli", sans-serif;
$font-book-details: "Roboto Condensed", sans-serif;

// Box Shadow
$book-shadow: 3px 3px 3px 3px black;
$book-hover-shadow: 10px 10px 8px black;


