@use "../../styles/partials/variables";

.books-display {
  z-index: 2;
  position: absolute;
  top: 14%;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  overflow: scroll;

  width: 90vw;
  height: 38rem;
}
