@use "../../styles/partials/variables";

.books-display {
  z-index: 2;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  overflow: scroll;

  width: 70rem;
  height: 35rem;
  padding: 2rem;
}
