@use "../../styles/partials/variables";
@use "../../styles/partials/generalMixins";

.footer {
  @include generalMixins.displayFlex(row-reverse, center, center);
  @include generalMixins.pagePosition(fixed, none, 50%, translate(-50%, 0));
  bottom: 1rem;

  &__return {
    width: 2.5rem;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }

  &__pages {
    @include generalMixins.displayFlex(none, none, center);
    margin-right: 2rem;
    color: variables.$color-cream;

    &--forwards {
      width: 2rem;
    }
    &--backwards {
      width: 2rem;
      transform: rotate(180deg);
    }
    &--forwards,
    &--backwards {
      &:hover {
        cursor: pointer;
      }
    }
  }
}
