@use "../../styles/partials/generalMixins";

.footer {
  @include generalMixins.displayFlex(none, center, none);

  &__img {
    position: fixed;
    bottom: 1rem;
    width: 3rem;

    &:hover {
      cursor: pointer;
      transform: scale(1.1); 
    }
  }
}
