@use "../../styles/partials/variables";
@use "../../styles/partials/mediaQueries";
@use "../../styles/partials/generalMixins";

.bookCover {
  @include generalMixins.dimensions(11rem, 15rem);
  box-shadow: variables.$book-shadow;
  border-radius: 5px;

  &:hover {
    box-shadow: variables.$book-hover-shadow;
    transform: scale(1.01);
    cursor: pointer;
  }

  &--noImage {
    display: none;
  }

  @include mediaQueries.mediaCardDimensions(40vw, 13rem);
}

.noImage {
  @include generalMixins.displayFlex(column, center, center);
  @include generalMixins.dimensions(11rem, 15rem);
  box-shadow: variables.$book-shadow;
  background-color: variables.$color-charcoal;
  border-radius: 5px;

  &:hover {
    box-shadow: variables.$book-hover-shadow;
    transform: scale(1.01);
    cursor: pointer;
  }

  &__icon {
    width: 4rem;
    opacity: 0.4;
  }

  &__description {
    color: variables.$color-cream;
  }

  @include mediaQueries.mediaCardDimensions(40vw, 13rem);
}
