@use "./styles/partials/variables";
@use "./styles/partials/generalMixins";
@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");

body {
  margin: 0;
  text-align: center;
  font-family: variables.$font-main;
  background-image: url("./assets/images/bookshelf.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  width: 100%;
  height: 100vh;

  &::before {
    @include generalMixins.absolutePositionWholeScreen();
    z-index: -1;
    content: "";
    background-color: variables.$color-charcoal;
    opacity: 0.7;
  }
}
